{% extends "users/base.html" %}
{% block title %} USER {% endblock title%}
{% block content %}
  <h2 style="color: white;">Upload Audio for Emotion Classification</h2>

  <br>

  <form method="post" enctype="multipart/form-data" action="predictEmotion/">

  {% csrf_token %}
    <div class="col-md-4 col-sm-4">
        <label style="color: white;" for="fname"><b>Upload Audio File Here:<b></label>
    </div>
    <input name="filePath" type="file" style="color: white;"><br><br>

    <input type="submit" value="Submit" class="black text-white" style="background-color: black; color: white;">

</div>
    {% if 'predictedLabel' in request.GET %}
    <div>
      <h2 style="color: white;">The emotion classification of the audio is: {{ request.GET.predictedLabel }}</h2>
    </div>
    {% endif %}
    <br><br>

  </form>
<br>
{% endblock %}